<footer class="footer-short">
    <div class="container">
        <hr>
        <nav class="row justify-content-between align-items-center">
            <div class="col-auto">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#">
                          <%= link_to image_tag('img/clique.png', alt: 'Clique Connect'), suggestions_path, class: 'navbar-brand' %>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Suggest an Improvement</a>
                    </li>
                </ul>
            </div>
            <!--end of col-->
            <div class="col-auto text-sm-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#"><i class="socicon-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="socicon-facebook"></i></a>
                    </li>
                </ul>
            </div>
            <!--end of col-->
        </nav>
        <!--end of row-->
        <div class="row">
            <div class="col">
                <small>&copy; 2018. Clique Media Group Pty Ltd. All Rights Reserved</small>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
