<div class="card">
    <div class="card-header d-flex justify-content-between">
      <div>
        <span class="h6">Contacts at this Company</span>
      </div>

    </div>
    <div class="card-body">
      <ul class="list-unstyled list-spacing-sm">
        <%= render 'shared/contacts' %>
      </ul>
    </div>
</div>
