<div class="col-auto">
  <div class="btn-group mb-2">
    <button type="button" class="btn btn-success btn-lg">Reach Out</button>
    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split dropdown-toggle-no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-h"></i>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm">
      <a class="dropdown-item" href="#">Save Match (Need Ruby)</a>
      <div class="dropdown-divider">
      </div>
      <a class="dropdown-item" href="#">Bad Match (Need Ruby)</a>
    </div>
  </div>
</div>
