<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div>
      <span class="h6">Businesses also View</span>
    </div>
    <!-- <a href="#">View all &rsaquo;</a> -->
  </div>

  <div class="card-body">
    <ul class="list-unstyled list-spacing-sm">
      <%= render 'shared/people_also_view', business: @business %>
    </ul>
  </div>
</div>
    <!-- end card -->

